@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-title: 'Dela Gothic One', sans-serif;
    --ff-text: 'Rubik', sans-serif;  
    --clr-black:#1c1c1c;
    --clr-white:#ececec;
    --clr-discord: #5865F2;
    --bg-white:url("../img/bg_white.png");
    --bg-black:url("../img/bg_black2.png");
    --bg-grey:url("../img/bg_grey.png");
}

body {
    background-image:var(--bg-white);
    color: var(--clr-black);
    font-family: var(--ff-text);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
} 

h1, h2, h3 {
    font-family: var(--ff-title);
}

/* reset */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 2rem;
}

.container .section-title {
    line-height: 3rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 0px;
    padding-bottom: 0;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 2px;
    background-color: #1c1c1c;
    transition: 0.2s;
    transform: scale(0);
    transform-origin: center;       /* INFLUCHE SOLAMENTE AL TRANSFORM x defecto es center pero lo dejo igualmente */
}

.nav-link:hover::after {
    transform: scale(1);
}

/* SOBRE MI */

#sobre-mi {
    padding-bottom: 5rem;
}

.sobre-mi-inner {
    display: grid;
    grid-template-columns: .35fr 1fr;
    grid-template-areas: 
        "foto titulo"
        "foto texto";
    column-gap: 2rem;
    row-gap: 1rem;
}       

.sobre-mi-foto {
    grid-area: foto;
    background-image: var(--bg-black);
    border-radius: 1rem;
    transform: scale(0.9);
    align-self: start;
}

.sobre-mi-foto img {
    max-width: 100%;
    transform: scale(1.1);
    border-radius: 1rem;
}

.sobre-mi-title {
    grid-area: titulo;
    font-size: 3rem;
    line-height: 1.1;
    align-self: end;
}

.sobre-mi-text {
    grid-area: texto;
    font-size: 1.2rem;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section {
    padding: 2rem 0;
}

.section-proyectos {
    background-image: var(--bg-black);
    background-size: 100%;
    color:var(--clr-white);
}

.section-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-title {
    font-size: 3rem;
}

.section-text {
    font-size: 1.2rem;
}

/* ESTILOS - PORTAFOLIO */

#proyectos {
    margin: auto;
}

.fila {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    gap: 2rem;
    flex-wrap: wrap;
}

.proyecto {
    border-radius: 0.5rem;
    max-width: 400px;
    max-height: 183px;
    border: 1.5px solid #000;
    position: relative;
    overflow: hidden;
    background-color: #1c1c1c;
}

.proyecto img {
    position: relative;
    width: max-content;
    height: max-content;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

.proyecto:hover img {
    filter: grayscale(0);
} 

.info {
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0, .8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

.proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

.btns {
    display: flex;
    align-items: start;
}

.btn {
    display: flex;
    padding: .5rem 1rem;
    font-weight: 500;
    gap: .5rem;  
    position: relative;     
    transition: .2s;
    isolation: isolate;
}

.btn:hover {
    color: #1c1c1c;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #ececec;
    border-radius: .2rem;
    transition: .2s;
    z-index: -1;
}

.btn:hover::after {
    height: 100%;
}

/* ESTILOS - CONTACTO */

#contacto h2 {
    padding-bottom: 2rem;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    border: none;
    border: 1px solid #919191;
    border-radius: 5px;
    font-size: 18px;
}

#contacto .btn-enviar:hover {
    background-color: #ff5080; 
    color: #fff;
}

/* ESTILOS - PUBLI */

.section-publi {
    background-image: var(--bg-black);
    background-size: 100%;
    color:var(--clr-white);
    padding-bottom: 2rem;
}

.section-publi .container .section-inner {
    gap: 2rem;
}

/* MENU */

button {
    background: transparent;
    border: 0;
    border-radius: 0;
}

.closed-menu, .open-menu {
    display: none;
}

@media screen and (max-width:800px) {

    /* RESET */

    .nav-list {
        position: fixed;
        background-image: var(--bg-white);
        flex-direction: column;
        inset: 0;
        text-align: right;
        padding: 2rem;
        width: 100%;
        height: 100%;
        z-index: 1;
        gap: 2rem;
        transform: translateX(100%);
        visibility: hidden;
        opacity: 0;
        transition: .2s;
    }
    .nav-list.active {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

    .closed-menu {
        display: block;
        position: absolute;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .open-menu {
        display: block;
        font-size: 1.7rem;
        cursor: pointer;
    }

    .nav-link {
        font-size: 1.7rem;
    }

    .btns{
        justify-content: center;
        align-items: center;
    }

    .section-title {
        text-align: center;
        font-size: 2rem;
    }

    .container {
        padding-inline: 1rem;
        width: 85%;
    }

    /* SOBRE MI */

    .sobre-mi-foto {
        display: block;
        height: 400px;
        margin: auto;
    }

    .sobre-mi-foto img {
        height: 100%;
    }

    .sobre-mi-inner {
        display: flex;
        flex-direction: column;
    }   

    .sobre-mi-title {
        font-size: 2.5rem;
        text-align: center;
    }

    /* CONTACTO */

    #contacto .contenedor-form .mitad input {
        width: 100%;
    }

    /* PUBLI */

    .section-publi {
        text-align: center;
    }
}